.info-icon {
    font-size: 1.2em;
    color: #777;
    cursor: pointer;
    transition: color 0.3s;
}

.info-icon:hover {
    color: black;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    height: 30px;
}

.progress-bar {
    position: absolute;
    right: 0;
    width: 30%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}

.progress-level {
    height: 100%;
    border-radius: 5px;
    background-color: black;
    transition: width 3s ease;
    width: 0%;
}

.info-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 500px;
    z-index: 100;
    transform-origin: top center;
    transition: transform 0.3s ease-in-out;
}

.info-content:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent;
}

.info-content.active {
    display: block;
    transform: translateY(-10px);
}