<!-- Year/date Modal -->
<div class="modal fade" id="yearModal" tabindex="-1" aria-labelledby="seleccionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seleccionModalLabel">Seleccionar Jornada y Año</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="yearSelectionForm">
                    <div class="mb-3">
                        <label for="year" class="form-label">Año</label>
                        <select class="form-select" id="yearSelector" name="year">
                            <!-- Opciones de jornada llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="races" class="form-label">Jornada</label>
                        <select class="form-select" id="racesSelector" name="races">
                            <!-- Opciones de año llenadas dinámicamente -->
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Driver name Modal -->
<div class="modal fade" id="competitorModal" tabindex="-1" aria-labelledby="seleccionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seleccionModalLabel">Seleccionar Temporada, Jornada y Piloto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="driverSelectionForm">
                    <div class="mb-3">
                        <label for="yearSelector" class="form-label">Seleccionar Temporada</label>
                        <select class="form-select" id="yearSelectorDriver" name="year">
                            <!-- Opciones de temporadas llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="racesSelector" class="form-label">Seleccionar Jornada</label>
                        <select class="form-select" id="racesSelectorDriver" name="races">
                            <!-- Opciones de jornadas llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="driverSelector" class="form-label">Seleccionar Piloto</label>
                        <select class="form-select" id="driverSelector" name="driver">
                            <!-- Opciones de pilotos llenadas dinámicamente -->
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Metrics Modal -->
<div class="modal fade" id="metricsModal" tabindex="-1" aria-labelledby="seleccionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seleccionModalLabel">Seleccionar Jornada y Año</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="metricsSelectionForm">
                    <div class="mb-3">
                        <label for="year" class="form-label">Año</label>
                        <select class="form-select" id="yearSelectorMetricsModal" name="year">
                            <!-- Opciones de jornada llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="races" class="form-label">Jornada</label>
                        <select class="form-select" id="racesSelectorMetricsModal" name="races">
                            <!-- Opciones de año llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="bonificationCheckboxMetricsModal" name="bonification">
                        <label class="form-check-label" for="bonificationCheckbox">Grafo bonificado por posiciones de podio</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
