<div class="col-lg-3 col-md-4 sidebar">
    <div class="sidebar-sticky">
        <h5 class="sidebar-heading">Menú</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/" class="btn btn-light w-100 d-flex justify-content-between align-items-center"
                    id="indexLink">Inicio</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-light w-100 d-flex justify-content-between align-items-center"
                    id="clasificationLink">Clasificación</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-light w-100 d-flex justify-content-between align-items-center"
                    id="competitorLink">Información de un piloto</a>
            </li>
            <li class="list-group-item">
                <a href="/graph" class="btn btn-light w-100 d-flex justify-content-between align-items-center"
                    id="graphLink">Generador de grafos</a>
            </li>
            <li class="list-group-item">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#metrics"
                    class="btn btn-light w-100 d-flex justify-content-between align-items-center collapse-element"
                    id="metricsCollapse">
                    Métricas
                    <span><i class="bi bi-chevron-down"></i></span>
                </a>
                <ul class="list-group collapse" id="metrics">
                    <li class="list-group-item"><a href="#" class="btn btn-light w-100 text-start ps-5"
                            id="metricsLink">Resumen de métricas</a></li>
                    <li class="list-group-item"><a href="/metrics/plots"
                            class="btn btn-light w-100 text-start ps-5">Evolución de métricas</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mt-3" id="plotManagement">
        <h5 class="sidebar-heading">Gestión de Gráficas</h5>
        <ul class="list-group">
            <li class="list-group-item " id="plotsList">
                <!-- Aquí se cargarán dinámicamente los nombres de los grafos -->
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-light w-100 d-flex justify-content-between align-items-center"
                    id="loadAnotherPlot">Añadir Nuevo</a>
            </li>
        </ul>
    </div>
    <div class="mt-3" id="graphManagement">
        <h5 class="sidebar-heading">Gestión de Grafos</h5>
        <ul class="list-group">
            <li class="list-group-item " id="graphsList">
                <!-- Aquí se cargarán dinámicamente los nombres de los grafos -->
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-light w-100 d-flex justify-content-between align-items-center"
                    id="loadAnotherGraph">Añadir Nuevo</a>
            </li>
        </ul>
    </div>
</div>

{% include 'partials/modals.html' %}