{% extends 'base.html' %}

{% block content %}
    <h1 id="pageTitle">Clasificación</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Nombre</th>
                <th>Constructor</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody id="tablaClasificacion">
            <!-- Los datos se cargarán dinámicamente aquí -->
        </tbody>
    </table>
{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function() {
            $.get(`/api/results?year=${year}&race=${race}`, function(data) {
                var tabla = '';
                var i = 0;
                data.forEach(function(item) {
                    i++;
                    tabla += '<tr><td>' + i + '</td><td>' + item.driver_name + '</td><td>' + item.team + '</td><td>' + item.total_points + '</td></tr>';
                });
                $('#tablaClasificacion').html(tabla);
            });
        });
    </script>
{% endblock %}
