{% extends 'base.html' %}

{% block page_styles %}
    <style>
        /* Estilos adicionales para mejorar la presentación */
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        h2 {
            margin-top: 40px;
        }
        .info-box {
            border: 2px solid #ccc;
            border-radius: 8px;
            padding: 10px; /* Reducir el padding para hacer el cuadro más pequeño */
            margin-bottom: 20px;
        }
        .info-title {
            font-size: 1.2em; /* Reducir el tamaño del título */
            font-weight: bold;
            margin-bottom: 5px; /* Reducir el margen inferior del título */
        }
        .info-value {
            font-size: 2em; /* Aumentar el tamaño del número */
            font-weight: bold;
        }
        #history-chart {
            margin-top: 20px;
        }
        .col-centered {
            margin: 0 auto; /* Centrar las columnas */
            float: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 id="driver">Nombre del Piloto</h1>

    <div class="row">
        <div class="col-md-6 col-centered">
            <div id="position" class="info-box">
                <h2 class="info-title">Posición actual</h2>
                <p class="info-value" id="position-text">--</p>
            </div>
        </div>
        <div class="col-md-6 col-centered">
            <div id="score" class="info-box">
                <h2 class="info-title">Puntos totales</h2>
                <p class="info-value" id="score-text">--</p>
            </div>
        </div>
    </div>

    <div id="history">
        <h2>Historial de Posiciones en la clasificación</h2>
        <div id="history-chart"></div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/competitor_dashboard.js"></script>
{% endblock %}
