{% extends 'base.html' %}

{% block content %}
    <h1 id="pageTitle">Grafo de competitividad</h1>
    <div id="loading-spinner" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="graph"></div>
{% endblock %}

{% block page_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/graphs.js"></script>
{% endblock %}

{% block page_modals %}
    <div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="seleccionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="seleccionModalLabel">Seleccionar Jornada y Año</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="graphSelectionForm">
                        <div class="mb-3">
                            <label for="year" class="form-label">Año</label>
                            <select class="form-select" id="yearSelectorModal" name="year">
                                <!-- Opciones de jornada llenadas dinámicamente -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="races" class="form-label">Jornada</label>
                            <select class="form-select" id="racesSelectorModal" name="races">
                                <!-- Opciones de año llenadas dinámicamente -->
                            </select>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="bonificationCheckbox" name="bonification">
                            <label class="form-check-label" for="bonificationCheckbox">Grafo bonificado por posiciones de podio</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

