<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>F1 webapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    {% include 'partials/navbar.html' %}

    <!-- Contenido principal con sidebar -->
    <div class="container-fluid mt-4">
        <div class="row">
            {% include 'partials/sidebar.html' %}
            <div class="col-lg-9 col-md-8">
                <h1 class="text-center">Bienvenido a la WebApp de Fórmula 1</h1>
  
      <!-- Slider de imágenes -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/index_img1.webp" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/images/index_img2.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/images/index_img3.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
            </div>
            
        </div>
    </div>

<!-- Scripts de Bootstrap y otros -->
<!-- Los scripts de Bootstrap requieren jQuery y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/sidebar.js"></script>

</body>
</html>