{% extends 'base.html' %}

{% block page_styles %}
    <style>
        h1 {
            margin-bottom: 20px;
        }
        .info-box {
            border: 2px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .info-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .info-value {
            font-size: 2.5em;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Métricas</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="info-box">
                <div class="info-title">Grado Normalizado:</div>
                <div class="info-value" id="normalized-degree"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-box">
                <div class="info-title">Peso Normalizado:</div>
                <div class="info-value" id="normalized-weight"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-box">
                <div class="info-title">Coeficiente de Clustering:</div>
                <div class="info-value" id="clustering-coefficient"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-box">
                <div class="info-title">Coeficiente de Kendall:</div>
                <div class="info-value" id="kendall"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="info-box">
                <div class="info-title">Coeficiente de Kendall evolutivo:</div>
                <div class="info-value" id="evolutionary-kendall"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/metrics_dashboard.js"></script>
{% endblock %}
