<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>F1 webapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar y otros elementos -->
    {% include 'partials/navbar.html' %}

    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Sidebar -->
            {% include 'partials/sidebar.html' %}

            <!-- Contenido principal -->
            <div class="col-lg-9 col-md-8 mx-auto">
                <h1 id="pageTitle">Evolución de métricas de competitividad</h1>
                <div id="loading-spinner" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="graficos"></div>
                <button id="loadAnotherGraphMetricsBtn" class="btn btn-primary mt-3" style="display: none;">Cargar otro grafo</button>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap y otros -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/metrics_plots.js"></script>
</body>
</html>

<!-- Graph Modal -->
<div class="modal fade" id="metricsModalPlots" tabindex="-1" aria-labelledby="seleccionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seleccionModalLabel">Seleccionar Jornada y Año</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="metricsPlotsSelectionForm">
                    <div class="mb-3">
                        <label for="year" class="form-label">Año</label>
                        <select class="form-select" id="yearSelectorPlotsModal" name="year">
                            <!-- Opciones de jornada llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="races" class="form-label">Jornada</label>
                        <select class="form-select" id="racesSelectorPlotsModal" name="races">
                            <!-- Opciones de año llenadas dinámicamente -->
                        </select>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="bonificationCheckbox" name="bonification">
                        <label class="form-check-label" for="bonificationCheckboxPlotsModal">Grafo bonificado por posiciones de podio</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

