{% extends 'base.html' %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/metrics_style.css">
{% endblock %}

{% block content %}
<h1 id="pageTitle">Resumen de métricas</h1>
<div class="row">
    <div class="col-md-12">
        <div class="info-box">
            <div class="info-title">
                Grado Medio Normalizado &nbsp;
                <i class="bi bi-info-circle info-icon" title="Información"></i>
            </div>
            <div class="info-content">
                <p>El Grado Medio Normalizado es una medida que indica la proporción de intercambios de posiciones 
                    entre competidores. Esta se calcula como la suma de conexiones reales en el grafo dividida por el 
                    máximo número posible de conexiones.</p>
            </div>
            <div class="progress-bar-container">
                <span class="info-value" id="normalized-degree"></span>
                <div class="progress-bar">
                    <div class="progress-level" id="normalized-degree-level"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="info-box">
            <div class="info-title">
                Peso Medio Normalizado:
                <i class="bi bi-info-circle info-icon" title="Información"></i>
            </div>
            <div class="info-content">
                <p>El Peso Medio Normalizado es una métrica que mide la intensidad acumulada de cambios, obtenida al 
                    sumar cuántas veces cada par de competidores intercambia posiciones y normalizar este total 
                    respecto al máximo teórico.</p>
            </div>
            <div class="progress-bar-container">
                <span class="info-value" id="normalized-weight"></span>
                <div class="progress-bar">
                    <div class="progress-level" id="normalized-weight-level"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="info-box">
            <div class="info-title">
                Coeficiente de Clustering:
                <i class="bi bi-info-circle info-icon" title="Información"></i>
            </div>
            <div class="info-content">
                <p>El Coeficiente de Clustering es una métrica que indica la tendencia de los competidores a formar 
                    grupos o “cliques”, evaluando qué tan conectados están entre sí los vecinos de cada competidor
                     en el grafo.</p>
            </div>
            <div class="progress-bar-container">
                <span class="info-value" id="clustering-coefficient"></span>
                <div class="progress-bar">
                    <div class="progress-level" id="clustering-coefficient-level"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="info-box">
            <div class="info-title">
                Coeficiente de Correlación de Kendall Generalizado:
                <i class="bi bi-info-circle info-icon" title="Información"></i>
            </div>
            <div class="info-content">
                <p>El Coeficiente de Correlación de Kendall Generalizado es una métrica que indica de la concordancia 
                    entre dos clasificaciones, que mide el grado en que los pares de competidores mantienen o 
                    invierten su orden respecto al total de pares posibles.</p>
            </div>
            <div class="progress-bar-container">
                <span class="info-value" id="kendall"></span>
                <div class="progress-bar">
                    <div class="progress-level" id="kendall-level"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="info-box">
            <div class="info-title">
                Coeficiente de Correlación de Kendall Evolutivo:
                <i class="bi bi-info-circle info-icon" title="Información"></i>
            </div>
            <div class="info-content">
                <p>El Coeficiente de Correlación de Kendall Evolutivo es la versión dinámica del coeficiente de Kendall 
                    Generalizado que incorpora la frecuencia de los intercambios de posiciones a lo largo del tiempo, 
                    reflejando así la evolución de la competitividad.</p>
            </div>
            <div class="progress-bar-container">
                <span class="info-value" id="evolutionary-kendall"></span>
                <div class="progress-bar">
                    <div class="progress-level" id="evolutionary-kendall-level"></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block page_scripts %}
<script src="../static/js/metrics_dashboard.js"></script>
{% endblock %}